
.header {
    background: #000;
    width: 100%;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* モバイル対応で折り返し可能に */
}

.header__logo {
    display: block;
    margin-right: auto;
}

.header-search {
    margin-left: auto;
    margin-right: 20px;
}

.search-input {
    padding: 6px 12px;
    border-radius: 4px;
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
}

.header-utilities nav {
    width: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-nav__link--mypage {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px 16px;
    vertical-align: middle;
}

.header-nav__link--login {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px 16px;
    vertical-align: middle;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    width:150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.header-nav__link--listing {
    background-color: white;
    color: #000;
    border-radius: 6px;
    padding: 10px 16px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}